#idHeaderContent
{
    font-family: open sans;
    color: #363636;
    background-color: #ccc;
    padding: 1px;
    margin: -6px;
}

#idHeaderHeading, #idContentHeading
{
	padding:0px 0px 0px 49px;
	font-weight: normal;
}

#idMainBodyContent
{
	color: #666;
    font-family: open sans;
}
#idContentHeading
{
    position: absolute;
    top: 40%;
    left: 38%;
}