body
{
	font-family: open sans;
}
p, a, #idHeaderContent
{
	color: #363636;
}
#idHeaderContent
{
    background-color: #ccc;
    padding: 1px;
    margin: -6px;
}

#idHeaderHeading, #idContentHeading
{
	padding:0px 0px 0px 49px;
	font-weight: normal;
}
#idMainBodyContent
{
	color: #666;
}
#idContentHeading
{
    position: absolute;
    top: 40%;
    left: 38%;
}
.classModalHeaderContent, .classModalMainBodyContent
{
	display: inline-block;
}
p, a
{
	font-size: 12px;
	font-weight: normal;
	
	text-decoration: none;
}
input.classButtonClose
{
	background-image: url(../images/icon-close.png); 
	background-color: transparent; 
	background-repeat: no-repeat;  
	background-position: 0px 0px;  
	border: none;           
	cursor: pointer;        
    float: right;
    vertical-align: middle; 
}
#flyin
{
	opacity: 0;
	margin-top:25%;
	border: 3px solid rgba(158, 158, 158, 0.25);
	padding: 18px;
}
#idModalImage
{
	height: 80px;
	width: 70px;
	border: 3px solid rgba(158, 158, 158, 0.25);
}
.classModalMainBodyContent
{
    border: 1px solid rgba(158, 158, 158, 0.67);
    background-color: #ccc;
    margin-left: 12px;
}
#flyin.run
{
	float: right;
	opacity: 100;
}
